<div class='container'>        
    <app-header #header class='header'></app-header>
  <section>
    <ng-template [ngIf]="header.home">
        <app-profile></app-profile>
    </ng-template>

    <ng-template [ngIf]="header.list">
        <app-list class="list"></app-list>
    </ng-template>
    
    <ng-template [ngIf]="header.placeholder">
        placeholder
    </ng-template>

    <ng-template [ngIf]="header.logout">
        logout
    </ng-template>


<!--     <app-sidebar class='sidebar'></app-sidebar>
      <article>
          <h3>
              Est culpa tempor aliqua exercitation adipisicing (Home)
          </h3>
          <p>
              Nostrud labore id ea exercitation dolore enim. Nulla anim eu tempor voluptate reprehenderit pariatur 
              velit id eu aute. Proident anim consectetur incididunt sit anim dolor nisi in eu ut. Officia irure 
              nulla commodo consectetur. Ea tempor adipisicing eiusmod aute. Incididunt consequat ipsum consectetur 
              ullamco ullamco Lorem reprehenderit qui qui dolor excepteur cupidatat eiusmod. Laboris do sint et ex cillum.
          </p>
          <p>
              Magna Lorem exercitation amet ullamco cupidatat excepteur esse commodo laboris. Minim elit occaecat 
              adipisicing nostrud deserunt laboris in dolore proident ipsum. Eu magna velit exercitation cupidatat. 
              Excepteur ea anim deserunt veniam sunt magna commodo velit enim ut cillum elit sint magna.
          </p>
      </article> -->
  </section>        
    <app-footer class ='footer'></app-footer>
</div>
