<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">{{ title }}</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="noListNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNavAltMarkup"
        mdbCollapse
        #noListNav="mdbCollapse"
      >
        <div class="navbar-nav">
          <a class="nav-link {{ getActive('home') }}" id="home" (click)='navigate($event)'>Home</a>
          <a class="nav-link {{ getActive('list') }}" id="list" (click)='navigate($event)'>List</a>
          <a class="nav-link {{ getActive('placeholder') }}" id="placeholder" (click)='navigate($event)'>Placeholder</a>
          <a class="nav-link {{ getActive('logout') }}" id="logout" (click)='navigate($event)' tabindex="-1">Logout</a
          >
        </div>
      </div>
    </div>
  </nav>