.title
{
    font-size: 1.25rem;
}

.subtitle
{
  text-align: justify;
  font-size: 14px;
  margin-top: 2px;
}

.description
{
  text-align: justify;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
}

.details-movie
{
  padding-bottom: 10px;
}

.details-movie-image
{
  float: left;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}