<mdb-tabs [vertical]="true" [justified]="true" [fill]="true">

    <!-- CURRENTLY WATCHING TAB -->
    <mdb-tab title="Currently Watching">
        <h2>Currently Watching</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Type</th>
                    <th scope="col">Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let watching of watchingList">
                    <th scope="row" class="title-btn" (click)="openModal(watching.id, watching.media_type, true)">{{ watching.name || watching.title }}</th>
                    <td>
                        <div class="progress" style="height: 20px">
                            <div
                              class="progress-bar"
                              role="progressbar"
                              [ngStyle]="{ 'width.% ': ((watching.progress / watching.total_episodes) * 100).toFixed(0) }"                               
                              aria-valuenow="0"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >
                            {{ (watching.progress / watching.total_episodes * 100).toFixed(0) }}%
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-small-inv" (click)="updateProgress(watching.id, -1)">-</button>
                        {{ watching.progress }}/{{ watching.total_episodes }}
                        <button type="button" class="btn btn-primary btn-small-inv" (click)="updateProgress(watching.id, +1)">+</button>
                    </td>
                    <td>{{ watching.rating | number}}</td>
                    <td>{{ watching.media_type }}</td>
                    <td>{{ watching.completed }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
            <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshList()"
            >
            </ngb-pagination>
        </div>
    </mdb-tab>

    <!-- COMPLETED TAB -->
    <mdb-tab title="Completed">
        <h2>Completed</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Type</th>
                    <th scope="col">Completed</th>
                    <th scope="col">Rewatching</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let completed of completedList">
                    <th scope="row" class="title-btn" (click)="openModal(completed.id, completed.media_type, true)">{{ completed.name || completed.title }}</th>
                    <td>
                        <div class="progress" style="height: 20px">
                            <div
                              class="progress-bar"
                              role="progressbar"
                              [ngStyle]="{ 'width.% ': ((completed.progress / completed.total_episodes) * 100).toFixed(0) }"                               
                              aria-valuenow="0"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >
                            {{ (completed.progress / completed.total_episodes * 100).toFixed(0) }}%
                            </div>
                        </div>
                      {{ completed.progress }}/{{ completed.total_episodes }}
                    </td>
                    <td>{{ completed.rating | number}}</td>
                    <td>{{ completed.media_type }}</td>
                    <td>{{ completed.completed }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-rounded btn-tbl">
                            Rewatch
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
            <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshList()"
            >
            </ngb-pagination>
        </div>
    </mdb-tab>

    <!-- SEARCH TAB -->
    <mdb-tab title="Search">
        <h2>Search</h2>
        <div class="input-group d-flex w-auto mb-3 justify-content-end">
            <span class="border-0 material-symbols-outlined search-icon">
                Search
            </span>
            <form [formGroup]="searchForm" class="d-flex w-auto mb-3 justify-content-end" autoComplete="off" >
                <div class="form-outline search-bar">
                    <input 
                        formControlName="search"
                        type="text"
                        class="form-control"
                        placeholder="Search"
                        aria-label="Search" 
                    />
                    <label class="form-label"></label>
                    <div class="form-notch">
                        <div class="form-notch-leading"></div>
                        <div class="form-notch-middle" style="width: 91.2px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>
                <button class="ripple ripple-surface btn btn-outline-primary" role="button" (click)="submit($event)">Search</button>
            </form>            
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Media</th>
                    <th scope="col">Release Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let results of searchList">
                    <th scope="row" class="title-btn" (click)="openModal(results.id, results.media_type)">{{ results.name || results.title }}</th>
                    <td>{{ (results.vote_average | number) || "-"}}</td>
                    <td>{{ results.media_type }}</td>
                    <td>{{ results.first_air_date || results.release_date || "-"}}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2 page-nav">
            <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshList()"
            >
            </ngb-pagination>
        </div>
    </mdb-tab>
</mdb-tabs>