.row
{
    margin-right: 0px;
    margin-left: 0px;
}

.search-bar
{
    padding-right: 6px;
}

.title-btn
{
    cursor: pointer;
}

.btn-small-inv
{
    height: 18px;
    width: 20px;
    padding: 0;
    line-height: 0;
    --bs-btn-color: black;
    --bs-btn-bg: transparent;
}

.btn-tbl
{
    --bs-btn-color: black;
}

.form-check .form-check-input
{
    float: none;
}